.header {
  position: fixed;
  top: 0;
  background: #1bc2a1;
  color: white;
  z-index: 5;
  width: 100%;
}

.main-logo {
  display: flex;
  flex-direction: row;
  float: left;
}

.company-name {
  height: 75px;
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-left: 1rem;
}

.main-nav {
  float: right;
}

@media only screen and (max-width: 480px) {
  .header {
    position: static;
  }

  .company-name {
    display: none;
  }

  .main-nav {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .header {
    height: 75px;
  }
}